.idea/
exp/*
!exp/decode_my_test_ctc/
!exp/decode_my_test_ctc03/
!exp/decode_my_test_ctc05/
!exp/decode_my_test_ctc07/
!exp/decode_my_test_ctc08/
!exp/decode_my_test_ctc09/
!exp/decode_my_test_att/
!exp/decode_my_test_hybrid03_lr5e5_ctc03/
!exp/hebrew_xlsr_finetune/
exp/hebrew_xlsr_finetune/*
!exp/hebrew_xlsr_finetune/config.yaml

!exp/hebrew_xlsr_finetune_30ep/
exp/hebrew_xlsr_finetune_30ep/*
!exp/hebrew_xlsr_finetune_30ep/config.yaml

!exp/hebrew_xlsr_finetune_lr5e5/
exp/hebrew_xlsr_finetune_lr5e5/*
!exp/hebrew_xlsr_finetune_lr5e5/config.yaml

!exp/hebrew_xlsr_finetune_lr5e5_ctc03/
exp/hebrew_xlsr_finetune_lr5e5_ctc03/*
!exp/hebrew_xlsr_finetune_lr5e5_ctc03/config.yaml

!exp/hebrew_xlsr_finetune/tensorboard/
!exp/hebrew_xlsr_finetune/tensorboard/**

!exp/hebrew_xlsr_finetune_30ep/tensorboard/
!exp/hebrew_xlsr_finetune_30ep/tensorboard/**

!exp/hebrew_xlsr_finetune_lr5e5/tensorboard/
!exp/hebrew_xlsr_finetune_lr5e5/tensorboard/**

!exp/hebrew_xlsr_finetune_lr5e5_ctc03/tensorboard/
!exp/hebrew_xlsr_finetune_lr5e5_ctc03/tensorboard/**

download/
espnet/
__pycache__/
*.pyc
*.pth
*.pt
*.ckpt

hebrew_campus_subset/audio/

audio/

.venv/
venv/
